*{
    margin: 0px;
    padding: 0px;

}
.blur{
    margin: 5rem;
    background: #8d8484;
    width: 400px;
    height: 300px;
    
}
.blur-a{
    filter: blur(5px);
    -webkit-filter: blur(6px);
}